$content_width: 1170px
    
.footer
    margin-top: 20px
    min-width: $content_width
    height: 100px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17)
    border-top: 1px solid #ececec
    background-color: #ffffff

.footer-block
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    position: relative
    p
        font-family: 'PT Sans Narrow', sans-serif
        letter-spacing: 0.2em
        font-size: 20px
        line-height: 26px
        padding: 19px 9px